Source: adaptation-volla-mimir
Maintainer: Eugenio Paolantonio (g7) <me@medesimo.eu>
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10),
               debhelper-compat (= 13),
Standards-Version: 4.5.0.3

Package: adaptation-volla-mimir
Architecture: arm64
Depends: ${misc:Depends},
         adaptation-hybris-api33-phone,
         linux-bootimage-volla-mimir,
         adaptation-volla-mimir-configs (= ${binary:Version}),
         device-chassis-tablet,
Description: Droidian for Volla Tablet - metapackage

Package: adaptation-volla-mimir-configs
Architecture: arm64
Depends: ${misc:Depends},
Description: Droidian for Volla Tablet - adaptation configurations

Package: adaptation-volla-mimir-configs-luks-encryption
Architecture: arm64
Depends: ${misc:Depends},
Description: Droidian for Volla Tablet - enablers for LUKS encryption
